@import 'ant-design-vue/dist/reset.css';

body {
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  font-family: var(--ant-font-family);
  background: var(--ant-color-bg-container);
}
